# The testing matrix considers ruby/puppet versions supported by SIMP and PE:
#
# https://puppet.com/docs/pe/2018.1/component_versions_in_recent_pe_releases.html
# https://puppet.com/misc/puppet-enterprise-lifecycle
# https://puppet.com/docs/pe/2018.1/overview/getting_support_for_pe.html
# ------------------------------------------------------------------------------
# Release       Puppet   Ruby   EOL
# SIMP 6.3      5.5      2.4.4  TBD***
# PE 2018.1     5.5      2.4.4  2020-05 (LTS)***
#
# *** = Modules created for SIMP 6.3+ are not required to support Puppet < 5.5
---
language: ruby
cache: bundler
sudo: false

bundler_args: --without development system_tests --path .vendor

notifications:
  email: false

addons:
  apt:
    packages:
      - rpm

before_install:
  - rm -f Gemfile.lock
  - gem update --system

jobs:
  include:
    - stage: test
      rvm: 2.4.4
      env: STRICT_VARIABLES=yes PUPPET_VERSION="~> 5.5.6"
      script:
        - bundle exec rake test

    - stage: test
      rvm: 2.4.4
      env: STRICT_VARIABLES=yes PUPPET_VERSION="~> 5.5"
      script:
        - bundle exec rake test

    - stage: deploy
      rvm: 2.4.4
      if: 'fork = false AND tag = true'
      script:
        - true
      before_deploy:
        - "export PUPMOD_METADATA_VERSION=`ruby -r json -e \"puts JSON.parse(File.read('metadata.json')).fetch('version')\"`"
        - '[[ $TRAVIS_TAG =~ ^simp-${PUPMOD_METADATA_VERSION}$|^${PUPMOD_METADATA_VERSION}$ ]]'

      deploy:
        - provider: releases
          api_key:
            secure: "ihKs9Ej6kRNzLSYcmtPTrfDMkBiHUT9ZaF58tQ0dWq+GNOdWZYxEKWkHzJOCaCbh23tYVolDx52gJtqkmM5mr2xsYNltMAPMXGyaS0SCbJBqnsVL4h8Os6q26UM6v1rwfQaVZmjkNepkFeUO4AK+z8U9khUZowZEbOujDSFtrPaAClSq2npZnWT8oXZsldUilzFTTZ2+UuHSJy9G8/oz+fy6VliKGNVq5Abx6FnGBQJjPZjIwbD0UI/UXsjL5vCpNjSAY5sPHmmMO1SpMDq2DdO4kwa8f0JEx78tRGe9msfy1u0Ropsxbu4pWU8EXKFIvYu3BndsoaPWs7whoSnOVi22KnEw1DtyCB8M2aJMzh6LaSCZYQrzTyVtFnOuMm15W4fMpZs0ODQvYy2zS6WSrytxxyZiuxEjaD1U3kJ+7HFdwKMIlYhOBSgymRUkTB795DdA7gxgPbVts00GcaJyVawobTZB9jdsQX1xzMKAijjLqGXRwmjSnFA5bGkv1EnCq375ibEU5lvRxP96oum1uwDRQ6WruOJISL3xP/OSKHtOgTT8f7U5jIIGd1BUe/YkklIopjmywzM+yKAvUJQCE/CmS4Ke11zZVnV3ls0YRXETjcGIfaeuHBjMJlCMSVZvZozzNp+aaQq9+YCpQ/8NJ/b5hRPBqBBF+3wYOLMMcWo="
          skip_cleanup: true
          on:
            tags: true
            condition: '($SKIP_FORGE_PUBLISH != true)'
        - provider: puppetforge
          user: simp
          password:
            secure: "d3jg+zI+3H/eIUZLJS8FwR69bRl+jETCemqzhXHKItjOKfo1kuhBD6uWQp2rYnhqK2l16WM1wEzGlxyFmRtiVSaaG5PSPtFXUBeHq/HDhXWHp1rlay+SAztxI02D5nF1qdP4vb6sJnZmR/UgErnw8lTMWzNaFl8OURDKBBHYo34H1C44ghvU/lygUts2ktTL40L0BDS9RKWeyy+PxGsEMJJHkLOB3E1tbuAVzCQE4iSeoierEGbHuwpqOPP07I7BGMbYBcpCLi5Ja1MQF78YIqvJ/BXMbPUiktFz0iB6B885o6+SqE++bDSpgltP6LpWfreVVBWe5/uE0y6lUw9gD5YQojTiNihwY1/YWPBG9iaWDYfo0T8P34IWGO76VUxjOuIG6ZkQj3+1QjC8JI/F7iuGP8iC4dqMbFwvK/WLS5yOGb5FcjL8sPZMTalI0f/bE7aIGpC9s5dDBxxDv7SAGeD5IF/8DwzYKqkegIA5+yBlyHwJ6/dDyM0z6sNmGWOB9R4P/4lfy/p3qm4XQuUlQN9ghEvSyEFJQl3QZ4xGa00JHvWVzBo0qEAn+CDl3DVH9P7fSHKTRglp7CnaWL0VvUPEfTTdE6dm1vkZjRIJyXOS8F2IJAszXM3Aq1FgvtDVwped9I36z2nBP+pb18o1yh4j+ig+rN53ClKjPykI6+c="
          on:
            tags: true
            condition: '($SKIP_FORGE_PUBLISH != true)'
